@model CatalogItemViewModel

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Featured
    </div>
    <img class="card-img-top" src=@Model.ItemPictureUri alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Title: @Model.ItemName</h5>
        <p class="card-text">@Model.ItemDescription</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>