@page
@{
}

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-9 col-md-9"></div>
        <div class="col-12 col-sm-3 col-md-3 social-media">
            <a href="#" class="social-media-link">
                <i class="fa fa-github-square" style="font-size: 2em;"></i>
            </a>
            <a href="#" class="social-media-link">
                <i class="fa fa-linkedin-square" style="font-size: 2em;"></i>
            </a>
            <a href="#" class="social-media-link">
                <i class="fa fa-twitter-square" style="font-size: 2em;"></i>
            </a>
            <a href="#" class="social-media-link">
                <i class="fa fa-youtube-square" style="font-size: 2em;"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            &copy; 2019 - GlobalShopProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            &copy; 2019 - GlobalShopProject - <a asp-area="" asp-controller="Home" asp-action="Index">Contacts</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            &copy; 2019 - GlobalShopProject - <a asp-area="" asp-controller="Home" asp-action="Index">TODO</a>
        </div>
    </div>
</div>