@{
    ViewData["Title"] = "Home Page";
}

<div class="row home-carousel">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        @* Slides *@
        <div class="carousel-inner">
            <div class="carousel-item home-carousel-item active">
                <img class="d-block home-carousel-img w-100" 
                     src="~/img/boutique-clothes-fashion-338027-narrow.jpg" alt="First Slide" />
            </div>
            <div class="carousel-item home-carousel-item">
                <img class="d-block home-carousel-img w-100"
                     src="~/img/boutique-clothes-indoors-264554-narrow.jpg" alt="Second Slide" />
            </div>
            <div class="carousel-item home-carousel-item">
                <img class="d-block home-carousel-img w-100"
                     src="~/img/classic-clothes-commerce-298863-narrow.jpg" alt="Third slide" />
            </div>
        </div>
    
        @* Left and Right Controls *@
        <a href="#home-carousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Prev</span>
        </a>

        <a href="#home-carousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
    <div class="home-shopping-list">
        @* Shopping list of items *@
    </div>
</div>
